.pagination__list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px
}

.pagination__item{
 
  border: 2px solid #062226;
  border-radius: 5px;
  font-weight: 900;
  transition: background-color 300ms ease, color 300ms ease;
  cursor: pointer;

}
.pagination__item:hover{
  background-color: white;
  color: #062226;
  transition: background-color 300ms ease, color 300ms ease;

}


.pagination__link{
  display: block;
  padding: 8px 16px;
}

.pagination__link:visited{
  color: inherit;
}

.pagination--active{
  background-color: white;
  color: #062226;
}